.branch {
    position: absolute;
    inset: 0;
    user-select: none;
    pointer-events: none;
    z-index: 18;

    transition: opacity 1.5s ease;

    &__family {
        position: absolute;
        inset: 0;
        pointer-events: none;

        &--father {
            position: absolute;
            pointer-events: none;
            user-select: none;
            z-index: 19;

            top: calc(var(--branch__button-y) + var(--button-y2, 0%));
            left: calc(var(--branch__button-x) + var(--button-x2, 0%));

            transform: scale(var(--button-scale));

            border: none;
            background: none;
            font-size: .9rem;
            font-weight: 300;
            letter-spacing: .25rem;
            text-transform: uppercase;
            color: #b89435;
            opacity: .9;

            transition: opacity 1.5s ease;
        }

        //&--sprouts {
        //    position: absolute;
        //    background: red;
        //    width: 15px;
        //    height: 15px;

        //    top: var(--final-sprout-y, 0px);
        //    left: var(--final-sprout-x, 0px);
        //}

        &--childs {
            position: absolute;
            inset: 0;
            pointer-events: none;
            user-select: none;
            z-index: 19;

            &-b {
                position: absolute;
                pointer-events: none;
                z-index: 19;

                left: var(--child-x, 0px);
                top: var(--child-y, 0px);

                transform: 
                    translate(-50%, -50%)
                    scale(var(--child-scale));

                max-width: 15px;
                max-height: 15px;

                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.8rem;
                color: #c4a044;
                opacity: .9;

                border: none;
                background: none;

                transition: opacity 1.5s ease;
            }
        }
    }

    &__lines {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        overflow: visible;
        pointer-events: none;
        user-select: none;
    }
}