.frame6 {
    transform: 
        translateX(calc(-50% - 0px))
        translateY(calc(0% - 125px))
        scale(1.5);
}

.frame7 {
    transform: 
        translateX(calc(-50% + 10px))
        translateY(calc(0% - 150px))
        scale(1.5);
}

.frame8 {
    transform: 
        translateX(calc(-50% + 50px))
        translateY(calc(0% - 370px))
        scale(2.5);
}

.frame9 {
    transform: 
        translateX(calc(-50% + 90px))
        translateY(calc(0% - 430px))
        scale(2.5);
}

.frame10 {
    transform: 
        translateX(calc(-50% + 175px))
        translateY(calc(0% - 600px))
        scale(3);
}

.frame11 {
    transform: 
        translateX(calc(-50% + 100px))
        translateY(calc(0% - 900px))
        scale(3.2);
}

.frame12 {
    transform: 
        translateX(calc(-50% + 125px))
        translateY(calc(0% - 1275px))
        scale(4.6);
}

.frame13 {
    transform: 
        translateX(calc(-50% + 100px))
        translateY(calc(0% - 1475px))
        scale(4.9);
}

.frame14 {
    transform: 
        translateX(calc(-50% + 100px))
        translateY(calc(0% - 1750px))
        scale(5.5);
}

.frame15 {
    transform: 
        translateX(calc(-50% - 300px))
        translateY(calc(0% - 2125px))
        scale(3.9);
}