@use "./componentsBuilder/chakra-glow.scss";
@use "./componentsBuilder/treeCanvas.scss";
@use "./componentsBuilder/stepIndicator.scss";
@use "./componentsBuilder/seedStep.scss";
@use "./componentsBuilder/outbreakStep.scss";
@use "./componentsBuilder/branchStep.scss";
@use "./componentsBuilder/treeStep.scss";
@use "./componentsBuilder/navigation.scss";
@use "./componentsBuilder/frontCanvas.scss";

@use "./intro/ground.scss";
@use "./intro/hand-plant.scss";
@use "./intro/hand-cover.scss";
@use "./intro/soil.scss";

@use "./componentsBuilder/camera.scss";

@use "./tree/seed.scss";
@use "./tree/root.scss";
@use "./tree//sprout/sprout-node.scss";
@use "./tree/sprout/sprout-frame1.scss";
@use "./tree/sprout/sprout-frame2.scss";
@use "./tree/sprout/sprout-frame3.scss";
@use "./tree/sprout/sprout-frame4.scss";
@use "./tree/sprout/sprout-frame5.scss";
@use "./tree//sprout//sprout-frames.scss";
@use "./tree/branch.scss";

.builder-page {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    --Ocamera-x: 0px;
    --Ocamera-y: 0px;

    --seed-step-w: 40%;
    --seed-step-h: 40%;

    --outbreak-step-w: 100%;
    --outbreak-step-h: 50%;

    --branch-step__section-x: 0%;
    --branch-step__section-y: 0%;

    --branch__button-x: 0%;
    --branch__button-y: 0%;
}