.camera {
    position: absolute;
    inset: 0;

    transform-origin: center center;

    transform: 
        scale(var(--camera-zoom, 1))
        translate(
            calc(var(--Ocamera-x) + var(--camera-x, 0px)),
            calc(var(--Ocamera-y) + var(--camera-y, 0px))
        );

    transition: transform var(--camera-duration, 1.5s) ease;
}