@use "./components/builder/builder-page.scss";
@use "./components/ui/modal.scss";
@use "./mixins" as *;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&display=swap");

body {
    margin: 0;
}

.warning {
    margin-top: 3rem;
    margin-left: 3rem;
    color: #9a7a2d !important;
}

.warning span {
    font-size: 18px;
    font-weight: 600 !important;
}